extends layout

block content
  .container
    h1 #{category.title}
    form(method='post', action='/categories/edit/'+category._id)
      .form-group
        label Title:
        input.form-control(name='title', value=category.title, type='title')
      .form-group
        label Description:
        textarea.form-control(name='description') #{category.description}
      input.btn.btn-primary.mr-1(type='submit', name='submit', value='Save')
      a.btn.btn-secondary.mr-1(href='/manage/categories') Back
      a.btn.btn-danger.category-delete.float-right(href='/manage/categories', data-cat-id=category._id) Delete
    
